<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/congno.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <!--GOOGLE FONT-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo-details">
                <i class='bx bxl-gitlab'></i>
                <div class="logo_name">SAS Academic</div>
                <i class='bx bx-menu' id="btn" ></i>
            </div>
            <ul class="nav-list">
              <li>
                <a href="#">
                  <i class='bx bx-grid-alt bx-tada-hover'></i>
                  <span class="links_name">Tổng quan</span>
                </a>
                 <span class="tooltip">Tổng quan</span>
              </li>
              <li>
               <a href="#">
                <i class='bx bx-id-card bx-tada-hover'></i>
                 <span class="links_name">Thông tin sinh viên</span>
               </a>
               <span class="tooltip">Thông tin sinh viên</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bxs-bell bx-tada-hover'></i>
                 <span class="links_name">Ghi chú nhắc nhở</span>
               </a>
               <span class="tooltip">Ghi chú nhắc nhở</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bxs-graduation  bx-tada-hover'></i>
                 <span class="links_name">Kết quả học tập</span>
               </a>
               <span class="tooltip">Kết quả học tập</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bx-list-check bx-tada-hover'></i>
                 <span class="links_name">Đăng ký học phần</span>
               </a>
               <span class="tooltip">Đăng ký học phần</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bxs-calendar bx-tada-hover' ></i>
                 <span class="links_name">Xem lịch theo tuần</span>
               </a>
               <span class="tooltip">Xem lịch theo tuần</span>
             </li>
             <li>
                <a href="#">
                    <i class='bx bx-calendar-week bx-tada-hover'></i>
                  <span class="links_name">Xem lịch theo tiến độ</span>
                </a>
                <span class="tooltip">Xem lịch theo tiến độ</span>
              </li>
             <li>
               <a href="#">
                <i class='bx bx-dollar-circle  bx-tada-hover' ></i>
                 <span class="links_name">Tra cứu công nợ</span>
               </a>
               <span class="tooltip">Tra cứu công nợ</span>
             </li>
             
             <li>
                
              <!-- <li>
                <a href="#">
                  <i class='bx bx-cog bx-tada-hover' ></i>
                  <span class="links_name">Cài đặt giao điện</span>
                </a>
                <span class="tooltip">Cài đặt giao điện</span>
              </li> -->
                
                
              </li>
             <li class="profile">
                 <!-- <div class="profile-details">
                   <img src="img/logo.png" alt="profileImg">
                 </div> -->
                 <i class='bx bx-log-out' id="log_out" ></i>
             </li>
            </ul>
          </div>
          <section class="home-section">
            <!-- <div class="clearfix vi-header">
              <div class="vi-right-link pull-right">
                <div class="user-info">
                    <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAbVJREFUSEvlloExBEEQRd9FQAaIABEgAkSACBABGSACREAGiAARIAJkoJ6aoW3tzuyeuzpVukopbrZfd0//vzdiRjGaEZc+4HlgGVhPRT4Dj8DDb4ougReBI2C3A2ABx8DlOAV0gbeAc8Bua3EN7AFvtYPx8zaw0KtwyI5M7o/hJDxzACyk/zn21d+ATXqfOn1PY87AZl6ncQFspg/OUjG9+M2OTbSTntwOXZaS2a3LZywB3n01ItgOXtMTjrdrqZpJndLT0K4jWLncDOw2F5G7vguyK3YdwUpD+Rh99B0TD372T4C9U7U7aEnS+byUY416JUnJXIfAaXU1vw9oHnNAb0k171IpaAr+1hD6uJFGcjJ0KZvgOG6NQy2XIk6p95i7tldgdiNlIrzNFGKng/eiTTYayW1wI5NaQNOrmy8QF0zj8dlqlPTqcu1XMryEF0a2WsEuZ/F9XTMK7dCRepdrqQhheQJ2aUTX82+XcqMEr4GrIwsH7DQXV4VPEuxUhKvnHJ2dTxIsrDd80uAS3Hf1lyFNA9wG9ztZXsTPa5gWOMJVxQ/otMHm12Ra/X6aHRel+P/AH1WqWx/59LQVAAAAAElFTkSuQmCC"
                        /></a>
                    <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAXpJREFUSEvtluExBEEQhd9FQAhCIAJkIANE4ETgZEAEiIAMkAEZuAyIwNV3Na3a1M5sz9ae9ePm3+7O9NfvdffUzjTRmk3E1Rb8Z86XrN6VdCfpZKRMPiRdS7q3eCXwi6TDkaA+zIGkN16UwN9u97ukp4FJ4NyFO4vqRRTMPiy6lPTZkMCRpEdJwG01gzmIRedmVU8CqLrq2BMG30rad/VGMcp/miQLjjpUopb1JWmeGpXnMNg25gq6rM+tpTfOkkPWM81gsiUwTbaT1Hjr88QeklLriTCYcbKm8rZiJXAbNQIzo5TDW5uXIgzua96u5vHW5uer4FIn+iDHkswNb31u7UbBBMf6vcCIVRWjwMagZDW1o6atK1xjEvDXpgctB8DD4BL01yXQIPv/g2u1psZWZzq85o6ZYvG4bm94GfnnomtPM1upM40WgdpR7m0umnXSETDZPmfg1zQBNtN95QaG0vVPwBjgPmDxe0Tx4OC1g1vwRmztCjqZ1SvUJ2sf7qrHuwAAAABJRU5ErkJggg=="
                        /></a>
                    <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAYtJREFUSEvtlu0xBEEQhp+LgBCIABEgAyLgIkAEiAARIAIyQARHBIRABupVPWp2bnZmeu7Hlir9c7e7n/7a7p0xkcwm4tILXgeOLOh74NObQA9Y0AWwYbAPYMcL94AFPAGOI2hIVPA74KY1gFbwHvAACF4SlfwQeK6VvgWsDG8jR2+W3as927YqbEU6c9MZ5dfAcqp+Sr6A04JDBXgNrJm++h6CWwqgBlbJds1qv6GEasmT6ctWNlkpgeNsL4GLWt/svfTOa1mXwLGDTUCT2yL6zN5NcTTgEjiUWcOk7D2i3mrYXgCV39XjAB41LkRStW3J+B/c0uu/V+p4Ta7SY1Unuz5zw5XuZi39x5b6RjoHdlTCoyV4Co4//tFoG4NIExgsoRQc79ozW/qNnKyajspVbteXwNo+7l+aBK/7Hbbe4MiUwKtkmrMdnMnccOmmendzLUgdGPX8V2r3uOaw+70XHN/oFFr840iVvWDZx3c6+PP8KPzY9IBlp2nVkpBoubinvxfc3dtgOBn4Gz7wWB9jGpQAAAAAAElFTkSuQmCC"
                        /></a>
                    <a id="name1" href="#">Nguyễn Tuấn Anh</a>
                    <img src="img/avatar.png" style="width: 50px; height: 50px; ">
                </div>
    
              </div>
            </div> -->
            <div class="text">Tra cứu công nợ</div>
              <div class="row1">
                <div class="col-sm-12" style="background-color: white; border: 1px solid gray; min-height: 500px; border-radius: 10px;">
                        <div >
                            <table class="table table-bordered"  cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col" style="color: #0c6fbe;">STT</th>
                                        <th scope="col" style="color: #0c6fbe;">Mã</th>
                                        <th scope="col" style="color: #0c6fbe;">Số Tín chỉ</th>
                                        <th scope="col" style="color: #0c6fbe;">Trạng thái đăng ký</th>
                                        <th scope="col" style="color: #0c6fbe;">Số tiền <br> (VNĐ)</th>
                                        <th scope="col" style="color: #0c6fbe;">Đã nộp <br> (VNĐ)</th>
                                        <th scope="col" style="color: #0c6fbe;">Khấu trừ <br> (VNĐ)</th>
                                        <th scope="col" style="color: #0c6fbe;">Công nợ <br> (VNĐ)</th>
                                        <th scope="col" style="color: #0c6fbe;">Trạng thái </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                </div> 
            </div>
        </div>
     </div>
            
          </section>
          <script>
            let sidebar = document.querySelector(".sidebar");
            let closeBtn = document.querySelector("#btn");
            let searchBtn = document.querySelector(".bx-search");
    
            closeBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
      });
      function menuBtnChange() {
       if(sidebar.classList.contains("open")){
         closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
       }else {
         closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
       }
      }
      function Logout(){
        console.log("Logging out");
        
      }
        </script>
</body>
</html>