<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/note.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <!--GOOGLE FONT-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo-details">
                <i class='bx bxl-gitlab'></i>
                <div class="logo_name">SAS Academic</div>
                <i class='bx bx-menu' id="btn" ></i>
            </div>
            <ul class="nav-list">
              <li>
                <a href="#">
                  <i class='bx bx-grid-alt bx-tada-hover'></i>
                  <span class="links_name">Tổng quan</span>
                </a>
                 <span class="tooltip">Tổng quan</span>
              </li>
              <li>
               <a href="#">
                <i class='bx bx-id-card bx-tada-hover'></i>
                 <span class="links_name">Thông tin sinh viên</span>
               </a>
               <span class="tooltip">Thông tin sinh viên</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bxs-bell bx-tada-hover'></i>
                 <span class="links_name">Ghi chú nhắc nhở</span>
               </a>
               <span class="tooltip">Ghi chú nhắc nhở</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bxs-graduation  bx-tada-hover'></i>
                 <span class="links_name">Kết quả học tập</span>
               </a>
               <span class="tooltip">Kết quả học tập</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bx-list-check bx-tada-hover'></i>
                 <span class="links_name">Đăng ký học phần</span>
               </a>
               <span class="tooltip">Đăng ký học phần</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bxs-calendar bx-tada-hover' ></i>
                 <span class="links_name">Xem lịch theo tuần</span>
               </a>
               <span class="tooltip">Xem lịch theo tuần</span>
             </li>
             <li>
                <a href="#">
                    <i class='bx bx-calendar-week bx-tada-hover'></i>
                  <span class="links_name">Xem lịch theo tiến độ</span>
                </a>
                <span class="tooltip">Xem lịch theo tiến độ</span>
              </li>
             <li>
               <a href="#">
                <i class='bx bx-dollar-circle  bx-tada-hover' ></i>
                 <span class="links_name">Tra cứu công nợ</span>
               </a>
               <span class="tooltip">Tra cứu công nợ</span>
             </li>
             
             <li>
                
              <li>
                <a href="#">
                  <i class='bx bx-cog bx-tada-hover' ></i>
                  <span class="links_name">Cài đặt giao điện</span>
                </a>
                <span class="tooltip">Cài đặt giao điện</span>
              </li>
                
                
              </li>
             <li class="profile">
                 <div class="profile-details">
                   <img src="img/logo.png" alt="profileImg">
                   <!-- <div class="name_job">
                     <div class="name">Prem Shahi</div>
                     <div class="job">Web designer</div>
                   </div> -->
                 </div>
                 <i class='bx bx-log-out' id="log_out" ></i>
             </li>
            </ul>
          </div>
          <section class="home-section">
            <div class="text">Ghi chú nhắc nhở</div>
            <div class="row1">
                <div class="col-sm-12" style="background-color: white; border: 1px solid gray; min-height: 500px; border-radius: 10px;">
                        <div >
                            <table class="table table-bordered"  cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col" style="color: #0c6fbe;">Nội dung</th>
                                        <th scope="col" style="color: #0c6fbe;">Thời gian</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                </div> 
            </div>
        </div>
     </div>
            
          </section>
          <script>
            let sidebar = document.querySelector(".sidebar");
            let closeBtn = document.querySelector("#btn");
            let searchBtn = document.querySelector(".bx-search");
    
            closeBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
      });
      function menuBtnChange() {
       if(sidebar.classList.contains("open")){
         closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
       }else {
         closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
       }
      }
      function Logout(){
        console.log("Logging out");
        
      }
        </script>
</body>
</html>