<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/Header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <!--GOOGLE FONT-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header style="text-align: center;">
            <h3>Đây là header</h3>
        </header>
        <div class="sidebar">
            <div class="logo-details">
                <i class='bx bxl-gitlab'></i>
                <div class="logo_name">SAS Academic</div>
                <i class='bx bx-menu' id="btn" ></i>
            </div>
            <ul class="nav-list">
              <!-- <li>
                  <i class='bx bx-search' ></i>
                 <input type="text" placeholder="Tìm kiếm...">
                 <span class="tooltip">Tìm kiếm</span>
              </li> -->
              <li>
                <a href="#">
                  <i class='bx bx-grid-alt bx-tada-hover'></i>
                  <span class="links_name">Tổng quan</span>
                </a>
                 <span class="tooltip">Tổng quan</span>
              </li>
              <li>
               <a href="#">
                <i class='bx bx-id-card bx-tada-hover'></i>
                 <span class="links_name">Thông tin sinh viên</span>
               </a>
               <span class="tooltip">Thông tin sinh viên</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bxs-bell bx-tada-hover'></i>
                 <span class="links_name">Ghi chú nhắc nhở</span>
               </a>
               <span class="tooltip">Ghi chú nhắc nhở</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bxs-graduation  bx-tada-hover'></i>
                 <span class="links_name">Kết quả học tập</span>
               </a>
               <span class="tooltip">Kết quả học tập</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bx-list-check bx-tada-hover'></i>
                 <span class="links_name">Đăng ký học phần</span>
               </a>
               <span class="tooltip">Đăng ký học phần</span>
             </li>
             <li>
               <a href="#">
                <i class='bx bxs-calendar bx-tada-hover' ></i>
                 <span class="links_name">Xem lịch theo tuần</span>
               </a>
               <span class="tooltip">Xem lịch theo tuần</span>
             </li>
             <li>
                <a href="#">
                    <i class='bx bx-calendar-week bx-tada-hover'></i>
                  <span class="links_name">Xem lịch theo tiến độ</span>
                </a>
                <span class="tooltip">Xem lịch theo tiến độ</span>
              </li>
             <li>
               <a href="#">
                <i class='bx bx-dollar-circle  bx-tada-hover' ></i>
                 <span class="links_name">Tra cứu công nợ</span>
               </a>
               <span class="tooltip">Tra cứu công nợ</span>
             </li>
             
             <li>
                
              <li>
                <a href="#">
                  <i class='bx bx-cog bx-tada-hover' ></i>
                  <span class="links_name">Cài đặt giao điện</span>
                </a>
                <span class="tooltip">Cài đặt giao điện</span>
              </li>
                
                
              </li>
             <li class="profile">
                 <div class="profile-details">
                   <img src="img/logo.png" alt="profileImg">
                   <!-- <div class="name_job">
                     <div class="name">Prem Shahi</div>
                     <div class="job">Web designer</div>
                   </div> -->
                 </div>
                 <i class='bx bx-log-out' id="log_out" ></i>
             </li>
            </ul>
          </div>
          <section class="home-section">
            <div class="text">Đăng Ký Học Phần</div>
            <div class="row">
                <div class="col-sm-10" style="background-color: white; border: 1px solid gray; min-height: 100px; border-radius: 10px; text-align: center; padding-top: 25px; " >
                    <select  class="form-control" id="cb0Dotdangky" name="cboĐotangky" placeholder="Chọn đợt đăng ký " style=" width: 300px;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 16px;" >
                        <option>Chọn đợt đăng ký</option>
                        <option>HK2 (2021-2022)</option>
                        <option>HK1 (2021-2022)</option>
                    </select>
                    <div class="mt-radio-inline">
                        <label class="mt-radio">
                          <input checked="checked" id="rdoLoaiDangKy" name="rdoLoaiDangKy" type="radio" value="1">
                          <label lang="dangkyhocphan-dangkymoi">Học Mới</label>
                          <span></span>
                        </label>
                        <label class="mt-radio">
                          <input checked="checked" id="rdoLoaiDangKy" name="rdoLoaiDangKy" type="radio" value="2">
                          <label lang="dangkyhocphan-dangkyhoclai">Học Lại</label>
                        </label>
                        <label class="mt-radio">
                          <input checked="checked" id="rdoLoaiDangKy" name="rdoLoaiDangKy" type="radio" value="3">
                          <label lang="dangkyhocphan-dangkyhoccaithien">Học Cải Thiện</label>
                        </label>
                      </div>
                </div>   
            </div>
           
               
            
            <div class="row1">
                <span class="textt"><b>Môn học/học phần chờ đăng ký</b></span>
                <div class="col-sm-12" style="background-color: white; border: 1px solid gray; min-height: 500px; border-radius: 10px;">
                        <div >
                            <table class="table table-bordered"  cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:40px; "></th>
                                        <th scope="col">STT</th>
                                        <th scope="col">Mã học phần</th>
                                        <th scope="col">Tên môn học/học phần</th>
                                        <th scope="col">TC</th>
                                        <th scope="col">Bắt buộc</th>
                                        <th scope="col">học phần: học trước (a),<br> tiên quyết (b),<br> song hành (c)</th>
                                    </tr>
                                    <tbody>
                                        <tr onclick="SelectMonHocChoDangky">
                                            <td class="text-center">
                                                <div>
                                                    <label class="mt-radio" style="padding-left: 17px;">
                                                        <input checked="checked" id="rdoMonHocChoDangKy" name="rdoMonHocChoDangKy" type="radio" value="10" >
                                                        <span></span> 
                                                    </label>
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td>4220003622</td>
                                            <td class="text-left">Công nghệ mới trong phát triển ứng dụng</td>
                                            <td>3</td>
                                            <td>
                                                <div class="check"> </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </thead>
                            </table>
                        </div>
                </div> 
            </div>
            <div class="container">
                <div class="row2">
                    <span class="textt"><b>Lớp học phần chờ đăng ký</b></span>
                    <div class="col-sm-12"  style="background-color: white; border: 1px solid gray; min-height: 500px; border-radius: 10px; width: 121%;">
                        <div class="text-right">
                            <label style="margin-left: 350px; ">
                                <input id="checkLichTrung" name="checkLichTrung" type="checkbox" value="true">
                                <input name="checkLichTrung" type="hidden" value="false">

                                    <span class="text-uppercase" style="color: red; margin-left: 10px !important;" lang="lhpchodangky-lhpkhongtrunglich">
                                        <b>HIỂN THỊ LỚP HỌC PHẦN KHÔNG TRÙNG LỊCH</b>
                                    </span>
                               
                            </label>
                        </div>
                        <div>
                            <table class="table table-bordered"  cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col" >STT</th>
                                        <th scope="col">Thông tin lớp học phần</th>
                                        <th scope="col">Đã đăng ký</th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td style="width: 40px;">1</td>
                                            <td class="text-left">
                                                <div class="name">Công nghệ mới trong phát triển ứng dụng</div>
                                                <div>
                                                    <span lang="dkhp-trangthai">Trạng thái</span>
                                                    ": "
                                                    <span class="cl-red">Đã khóa</span> <br>
                                                    <span lang="dkhp-malhp">Mã lớp học phần</span>
                                                    ": : 422000362203 - DHKTPM14CTT
                                                    "
                                                </div>
                                            </td>
                                            <td>49 / 50</td>
                                        </tr>
                                       
                                    </tbody>
                                </thead>
                            </table>
                        </div>
                    </div>
                    
                </div>
                
              
          
            </div>
        </div>
            </div>
            
          </section>
          <script>
            let sidebar = document.querySelector(".sidebar");
            let closeBtn = document.querySelector("#btn");
            let searchBtn = document.querySelector(".bx-search");
    
            closeBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
      });
      function menuBtnChange() {
       if(sidebar.classList.contains("open")){
         closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
       }else {
         closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
       }
      }
      function Logout(){
        console.log("Logging out");
        
      }
        </script>
</body>
</html>