/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    font-family:  'Source Sans Pro', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #1d1b31;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 50px;
  width: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: auto;
  margin-left: auto;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/* .row {
  margin-left: 100px;
  margin-right: 100px;
}

.mt-radio-inline {
    margin-top: 20px;
    margin-bottom: 10px;
}
.mt-radio-inline .mt-radio {
  
    margin-left: 15px;
  }
  .mt-checkbox, .mt-radio {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .mt-checkbox>input, .mt-radio>input {
    border: 1px solid transparent;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #E6E6E6;
  }

  .row1 {
      margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  
  }
  .textt {
      margin-top: 500px;
    font-size: 20px;
    color: #0c6fbe;
  } */

table.table-bordered{
    border:1px solid #ddd;
    margin-top:20px;
    width: 100%;
    /* color: #1da1f2; */
    background: white;
    font-size: 14px;
    text-align: center;
  }
table.table-bordered > thead > tr > th{
    border:1px solid #ddd;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #ddd;
}

.mt-radio>span{
    border-radius: 50% !important;
}

table.table-bordered .check {
    background-image: url(../img/ico-select-min.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: cover;
    display: inline-block;
}

/* table.table-borderedd > thead {
    white-space: nowrap;
    background: #f3f7f9;
    border-bottom: 2px solid #cad6d8;
    color: #1da1f2;
} */

.row2 {
  
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 300px;
}
.col-sm-5 {
    background-color: white; 
    border: 1px solid gray; 
    min-height: 200px; 
    border-radius: 10px;
    margin-right: 400px;
}




.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.rt-container {
	margin: 0 auto;
	padding-left:12px;
	padding-right:12px;
}
.rt-row:before, .rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}
[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  article, header, section, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
      display: block;
  }
  body {
      color: #222;
      font-size: 100%;
      line-height: 24px;
      margin: 0;
      padding:0;
      font-family: "Raleway",sans-serif;
  }
  a{
      font-family: "Raleway",sans-serif;
      text-decoration: none;
      outline: none;
  }
  a:hover, a:focus {
      color: #373e18;
  }
  section {
      float: left;
      width: 100%;
      padding-bottom:3em;
  }
  h2 {
      color: #1a0e0e;
      font-size: 26px;
      font-weight: 700;
      margin: 0;
      line-height: normal;
      text-transform:uppercase;
  }
  h2 span {
      display: block;
      padding: 0;
      font-size: 18px;
      opacity: 0.7;
      margin-top: 5px;
      text-transform:uppercase;
  }
  
  #float-right{
      float:right;	
  }

  @media (min-width: 768px) {
    .rt-container {
      width: 750px;
    }
    [class^="col-rt-"] {
      float: left;
      width: 49.9999999999%;
    }
    .col-rt-6, .col-rt-12 {
      width: 100%;
    }
    
  }
  
  @media (min-width: 1200px) {
      .rt-container {
          width: 1170px;
      }
      .col-rt-1 {
          width:16.6%;
      }
      .col-rt-2 {
          width:30.33%;
      }
      .col-rt-3 {
          width:50%;
      }
      .col-rt-4 {
          width: 67.664%;
      }
      .col-rt-5 {
          width: 83.33%;
      }
      
  
  }